body{
  font-family: verdana;
  background:url("pexels-thatguycraig000-1563355%20(1).jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#main{
  color: white;
}
#con1,
#con2,
#con3,
#container1,
#container2,
#container3,
#content1,
#content2,
#content3{
  border: 2px solid;
  width: 300px;
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer
}
#con1:hover,
#con2:hover,
#con3:hover,
#container1:hover,
#container2:hover,
#container3:hover,
#content1:hover,
#content2:hover,
#content3:hover{
  border: 2px solid blue;
  color: yellow;
}
#textcontent1, #txtcon2, #txt1{
  margin-bottom: 10px;
  animation: 2s fadeIn forwards;
  color: green;
  display: none;
}
@keyframes fadeIn{
  from{opacity: 0}
  to{opacity: 1}
}
#textcontent2, 
#textcontent3,
#txtcon1,
#txtcon3,
#txt2,
#txt3{
  margin-bottom: 10px;
  animation: 2s fadeIn forwards;
  color: red;
  display: none;
}
#next, #next2, #next3{
  margin-top: 10px;
  animation: 2s fadeIn forwards;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: rgb(44, 209, 44);
  border: 1px solid white;
  border-radius: 10px;
  display: none;
  cursor: pointer;
}
#qtwo{
  display: none;
  animation: 2s fadeIn forwards;
}
#qthree{
  display: none;
  animation: 2s fadeIn forwards;
}
#win{
  border: 2px solid green;
  text-align: center;
  height: 150px;
  width: 200px;
  border-radius: 10px;
}
#win p{
  font-size: 3em;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes grow{
  50%{transform: scale(2,2)}
}
#final{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
  animation: 9s fadeIn forwards;
}
#link{
  border: 2px solid white;
  padding: 10px;
}
#link a{
  color: yellow;
  text-decoration: none;
  font-weight: bold;
  color: yellow;
}
